
    {{ form_start(form) }}
        {{ form_label(form.name, 'Nom de l\'argonaute') }}
        {{ form_widget(form.name, {'attr': {'placeholder': 'Jason'}}) }} 
        <button class="btn">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(form) }}
